.centered {
    margin: 0 auto;
    text-align: left;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    /* font-weight: normal;
    font-family: helvetica, arial, sans-serif;
    color: #000000;
    background: #ffffff; */
}

#sparql-div {
    padding: 2px;
    border: 1px solid #888;
    margin-top: 7px;
    white-space: break-spaces;
}

.mrsViz {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: #ffffff;
    padding-top: 10px;
    margin-bottom: 20px;
}